/*
!/.gitignore
!/.config/
!/MyCode/

/MyCode/*
!/MyCode/Dotfiles/*

/.config/*

!/.config/hypr/
!/.config/waybar/
!/.config/waypaper/
!/.config/wofi/
!/.config/wlogout/
!/.config/bpytop/
!/.config/fastfetch/
!/.config/nvim/
!/.config/mako/
!/.config/kitty/
!/.config/zed/
!/.config/starship.toml
