/* white */
@define-color white         #fcfcfc;
@define-color beige         #EEF5DB;
@define-color antiflash     #F1F2F6;
/* black */
@define-color onyx          #313638;
@define-color raisin-black  #1E1E24;
@define-color gunmetal      #333745;
@define-color charcoal      #424651;
@define-color rich-black    #101419;
@define-color licorice      #1C1018;
/* blue */
@define-color vista-blue    #89a6fb;
@define-color glaucous      #577399;
@define-color periwinkle    #AEADF0;
@define-color tropical-indigo #9883E5;
@define-color lilac         #B6A6CA;
@define-color aqua          #33d9f2;
/* green */
@define-color mint          #52B788;
@define-color celadon       #ADF7B6;
@define-color dark-cyan     #368F8B;
@define-color celeste       #8DE3DD;
@define-color aquamarine    #91F9E5;
/* red */
@define-color cerise        #DA4167;
@define-color crayola       #EF476F;
@define-color bittersweet   #EB5E55;
@define-color blush         #E75A7C;
/* yellow */
@define-color arylide-yellow #E3C567;
@define-color amber         #FFBD00;
@define-color sunglow       #FFC857;
@define-color sunset        #F7D08A;
