* {
  font-family: Inter;
  color: #e8e8e8;
  font-size: 16px;
  font-weight: Medium
  /* background: transparent; */
}

#window {
  margin: auto;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(230, 230, 230, 1.0);
  background-color: rgba(7, 7, 7, 0.9);
  opacity: 1.0;
}

#input {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 32px;
}

#outer-box {
  padding: 12px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 10px;
}

#entry:selected {
  background-color: rgba(34, 34, 34, 0.9);
}

#text {
  margin: 2px;
}

