* {
	background-image: none;
	box-shadow: none;
}

window {
	font-size: 24px;
	background-color: rgba(32, 31, 31, 0.3);
}

button {
    border-radius: 14px;
    border-color: #18191a;
	  text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	  background-color: #11111b;
	  border-style: solid;
	  border-width: 0px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 25%;
	  margin: 5px;
}

button:focus, button:active, button:hover {
  background-color: rgba(5, 5, 5, 0.8);
	outline-style: none;
	background-size: 35%;
	transition: all 0.2s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
background-image: url("/usr/share/wlogout/icons/logout.png");
}

#shutdown {
background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
background-image: url("/usr/share/wlogout/icons/reboot.png");
}

#hibernate {
background-image: url("/usr/share/wlogout/icons/hibernate.png");
}

#suspend {
background-image: url("/usr/share/wlogout/icons/suspend.png");
}
